@page "/player"
@inherits PlayerComponent

<h3>Vul je gegevens hier in</h3>
<div>
    Player name: <input type="text" @bind-value="PlayerGameData.PlayerName" />
    Player date of birth: <input type="text" @bind-value="PlayerGameData.DateOfBirth" />
    Number of digits: <input type="text" @bind-value="PlayerGameData.NrOfDigits" maxlength="1" />
</div>

<br />
@if (PlayerGameData.IsComplete())
{
    <button class="btn btn-primary" @onclick="PlayGame">Start Game</button>
    <br />
}

<br />
<br />

@* <div>
    @if (PlayerGameData is not null && !PlayerGameData.IsEmpty() && ReadyToPlayGame)
    {
        <Game PlayerGameData="PlayerGameData" />
    }
</div> *@

